.ant-pro-card {
    border-radius: 12px;
}

.ant-btn-color-primary {
    box-shadow: none;
}

.dst.ant-card .ant-card-body {
    padding: 12px;
}

.ant-list-split .ant-list-item {
     border-block-end: 0;
}

.ant-list-split.ant-list-something-after-last-item .ant-spin-container>.ant-list-items>.ant-list-item:last-child {
    border-block-end: 0;
}
/*.ant-pro-layout .ant-layout-sider.ant-pro-sider {*/
/*    background: #0D0D0D;*/
/*}*/

/*.ant-input-outlined {*/
/*    background: rgba(255, 255, 255, 0.22);*/
/*    border-width: 0.6px;*/
/*    border-style: solid;*/
/*    border-color: #d9d9d9;*/
/*}*/

/*.ant-select-selector .ant-select-selection-search-input {*/
/*    background: rgba(255, 255, 255, 0.22);*/
/*    border-width: 0.6px;*/
/*    border-style: solid;*/
/*    border-color: #d9d9d9;*/
/*}*/


/*.ant-input-number .ant-input-number-input {*/
/*    background: rgba(255, 255, 255, 0.22);*/
/*    border-width: 0.6px;*/
/*    border-style: solid;*/
/*    border-color: #d9d9d9;*/
/*}*/